<div class="card">
    <div class="card-header" id="headingX">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseX"
          aria-expanded="false" aria-controls="collapseX">
          Cavacuna #x
        </button>
        Temp {{ temp1 }}
        <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseX2"
          aria-expanded="false" aria-controls="collapseX2">
          <img class="settings-icon" src="../../../../assets/img/settings-gears.svg" alt="gear">
        </button>
      </h2>
    </div>

    <div id="collapseX" class="collapse" aria-labelledby="headingX" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#Slot</th>
              <th scope="col">Vacuna</th>
              <th scope="col">Aplicada</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Hepatitis B</td>
              <td>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Neumococo conjugado</td>
              <td>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck2">
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Triple vírica</td>
              <td>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck3">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    
    <div id="collapseX2" class="collapse" aria-labelledby="headingX2" data-parent="#accordionExample">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">configuracion 1</th>
                    <th scope="col">configuracion 2</th>
                    <th scope="col">configuracion 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hepatitis B</td>
                    <td>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Neumococo conjugado</td>
                    <td>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Triple vírica</td>
                    <td>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

  </div>