<div class="card text-center">
  <div class="card-header text-info" id="heading{{i}}">
    <h2 class="mb-0 text-info card-text">
      <button class="btn btn-link text-info card-text" type="button" data-toggle="collapse" attr.data-target="#collapse{{i}}"
        aria-expanded="false" attr.aria-controls="collapse{{i}}">
        {{ device.description | uppercase}}
      </button>
      
      <button class="btn btn-link float-right" type="button" data-toggle="collapse" attr.data-target="#collapseX{{i}}"
        aria-expanded="false" attr.aria-controls="collapseX{{i}}">
        <img class="settings-icon" src="../../../../assets/img/settings-gears.svg" alt="gear">
      </button>
    </h2>
  </div>

  <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}" data-parent="#accordionExample">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Slot</th>
            <th scope="col">Vacuna</th>
            <th scope="col">Aplicada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slot of slots">
            <th scope="row">{{slot.slotNumber}}</th>
            <td>{{slot.vaccineDescription}}</td>
            <td>
              <div class="form-group form-check">
                <!-- Bindear con {{slot.isApplied}} -->
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <!-- Evaluar la posibilidad de hacer un metodo que se llame onClick() que mande un request al server -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <p id="p-temp-{{i}}" class="card-text">
        <span id="badge-{{i}}" class="badge badge-danger">{{device.max_temp}}</span>
      </p>
    </div>
  </div>



  <div id="collapseX{{i}}" class="collapse" attr.aria-labelledby="headingX{{i}}" data-parent="#accordionExample">
    <div class="card-body">
      <div class="container">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customCheck" name="fotosensible">
          <label class="custom-control-label" for="customCheck">Fotosensible</label>
        </div>
        <div class="form-group">
          <label for="comment">Descripcción:</label>
          <textarea class="form-control" rows="3" id="comment"></textarea>
        </div>
        <div class="float-right pb-2">
          <!-- no se cual de todos es -->
          <a class="btn btn-info" href="#" role="button">Link</a>
          <button class="btn btn-info" type="submit">Button</button>
          <input class="btn btn-info" type="button" value="Input">
          <input class="btn btn-info" type="submit" value="Submit">
          <input class="btn btn-info" type="reset" value="Reset">
        </div>
      </div>
    </div>
  </div>

</div>