<div class="container h-50 color-azul">
    <div class="row">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seleccione Heladera
            </a>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="row my-4" >
        <div class="col-mb-4">
                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/857320/charts/1?bgcolor=%23ffffff&color=%23d62020&days=1&dynamic=true&results=10&type=line"></iframe>
        </div>
        <div class="col-mb-2">

        </div>
        <div class="col-mb-4 ml-5">
                <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/857320/charts/1?bgcolor=%23ffffff&color=%23d62020&days=1&dynamic=true&results=10&type=line"></iframe>
        </div>
    </div>
    <div class="row">
            <div class="col-mb-6">
    
            </div>
            <div class="col-mb-6">
                
            </div>
        </div>
</div>