<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  
    <app-loginbar></app-loginbar>


        <div class="container h-50">
            <div id="login-row" class="row h-75 justify-content-center">
                <div class="col-md-12 align-self-center">
                    
                        
                        <!-- <img class="cavacuna-logo" src="../../../assets/img/logov3.png" alt="Cavacuna">
                        <h1 class="text-white text-center">Bienvenido a Cavacuna!</h1> -->
                        <h1 class="text-center">Facilitar tu gestión de vacunas es nuestra misión</h1>
                    
            
                </div>
                <!-- <div id="login-column" class="col-md-5 align-self-center">

                         <form id="login-form" class="form" action="" method="post" [formGroup] = "userForm" (ngSubmit) = "onSubmit()">

                                <label for="username" class="text-white font-weight-bold">Usuario:</label><br>
                                <input type="text" name="username" id="username" class="form-control m-auto" formControlName = "username" required>

                                <label for="password" class="text-white font-weight-bold">Contraseña:</label><br>
                                <input type="password" name="password" id="password" class="form-control m-auto" formControlName = "password" required>                      
                                
                                <label for="remember-me" class="text-white"><span>Recordame</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                
                                <button id="help-button" type="submit" name="submit" class="btn btn-info btn-md" [disabled] = "!userForm.valid"> Entrar </button>
                                                            
                                <button type="submit" name="submit" class="btn btn-info btn-md float-right" data-toggle="modal" data-target="#modalRegisterForm"> Registrate </button>
                                                                                                                     
                            <p>your status is: {{ userForm.status }}</p>
                        

                        </form>
                </div> -->
            </div>

        </div>

        <img class="medicine" src="../../../assets/img/testLand.jpeg" alt="" draggable="false">




</body>
</html>
